.about {
    background:
        url(../img/texture.jpg);
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        background: linear-gradient(0deg, rgba(255, 251, 213, 0) 0%, rgba(255, 255, 255, 1) 100%);
        width: 100%;
        height: 380px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .marquee {
        margin-top: 68px;
        font-family: "Imbue 24pt";
        font-weight: bold;
        font-style: normal;
        color: #665343;
        font-size: 50px;
        text-align: center;
        margin: 60px auto 30px;
        line-height: 0px;
    }




    h2 {
        font-family: 'Imbue 24pt';
        font-weight: bold;
        font-style: normal;
        color: #cc0000;
        text-align: center;
        margin-bottom: 57px;

        @media only screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    .content {
        display: flex;
        gap: 10px;

        position: relative;
        justify-content: center;
        max-width: 480px;
        margin: 0 auto;
        width: 100%;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    p {
        width: 100%;
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #665343;
        margin: 0 0 10px;

        &:nth-child(1) {
            font-size: 18px;

        }

        @media only screen and (max-width: 768px) {
            max-width: 100%;
            padding: 20px;
        }
    }



    .image {
        mix-blend-mode: multiply;
        position: absolute;
        left: -350px;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 768px) {
            margin: 0 auto;

        }
    }

    .content-crditos {
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
        padding: 0 0 50px;
        justify-content: center;
        display: flex;

        .left,
        .right {
            max-width: 480px;

            p {
                width: 100%;
                font-family: "Merriweather", serif;
                font-weight: 400;
                font-style: normal;
                font-size: clamp(12px, 1vw, 14px);
                color: #665343;
                margin: 0;

                @media only screen and (max-width: 768px) {
                    max-width: 100%;
                    padding: 20px;
                }
            }

        }
    }

}