 /* Clase para aplicar el zoom */
 .zoom-out {
     zoom: 90%;
 }

 .selectedLink {
     display: block;
     position: absolute;
     top: 50%;
     right: 330px;
     width: 910px;
     height: 520px;
     z-index: 22;
     transform: translateY(-50%);
     border-radius: 27px;

     @media only screen and (max-width: 1023px) {
         display: block;
         position: absolute;
         top: 50%;
         right: 0;
         width: 100%;
         height: 160px;
         z-index: 22;
         transform: translateY(-50%);
         border-radius: 27px;
     }
 }

 .home {
     height: 100dvh;
     overflow: hidden;
     background-size: 100%;
     background-position: right center;
     background-image: url('../img/madera.jpg');
     /* Imagen de fondo */
     background-size: cover;
     background-repeat: no-repeat;

     @media only screen and (max-width: 1023px) {
         height: 100vh;
         overflow: hidden;
     }

     .toggle {
         display: none;

         @media only screen and (max-width: 1023px) {
             display: flex;
             right: 20px;
             left: initial;
         }
     }

     /* Oculta las tarjetas fuera de la vista principal */
     &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 400px;
         pointer-events: none;
         background: linear-gradient(0deg, rgba(255, 251, 213, 0) 0%, rgba(0, 0, 0, 1) 100%);
         z-index: 4;
         pointer-events: none;

     }

     &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 400px;
         pointer-events: none;
         background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
         z-index: 4;
         pointer-events: none;

     }

     .logos {
         display: none;

         @media only screen and (max-width: 1023px) {
             display: flex;
             width: 50%;
             position: absolute;
             bottom: 15dvh;
             gap: 20px;
             z-index: 9;
             left: 20px;

             svg,
             img {
                 width: 80px;
                 height: 50px;
                 object-fit: contain;
             }
         }

     }

     .bars {
         background-color: #fffcd5;
     }



     header {
         position: absolute;
         z-index: 5;
         top: 0;
         left: 0;
         height: auto;
         width: 100%;
         z-index: 10;

         @media only screen and (max-width: 1023px) {

             &>.logo,
             &>svg {
                 display: none;
             }
         }

         a.search {
             color: #fffcd5;
             gap: 0;
             font-size: 18px;

             span {
                 border: 1px solid #fffcd5;
                 padding: 5px;
                 width: 90px;
                 text-align: center;
             }

             .icon {
                 border: 1px solid #fffcd5;
                 border-left: 0;
                 padding: 7px;
                 width: 40px;
                 display: flex;
                 align-items: center;
                 justify-content: center;

                 svg {
                     width: 20px;
                 }
             }

         }

         .container {
             max-width: 100%;
             padding: 0 150px;

             @media only screen and (max-width: 1023px) {
                 padding: 0;

                 .logo {
                     display: none;
                 }

             }


             #banrep {
                 @media only screen and (max-width: 1023px) {
                     display: none;
                 }
             }

             .logos {
                 display: none;


                 .logo {
                     display: block;
                 }



             }
         }

         nav {
             flex: 1;
             justify-content: center;

             @media only screen and (max-width: 1023px) {
                 justify-content: flex-start;
                 padding: 15dvh 0 0;

             }

             .botonera {
                 display: none;

                 @media only screen and (max-width: 1023px) {
                     display: flex;
                     gap: 20px;
                     flex-direction: row;
                     position: static;

                     a {
                         img {
                             width: 70px;
                         }
                     }
                 }
             }

             a, li {
                 display: flex;
                 gap: 5px;
                 color: #fffcd5;
                 align-items: center;

                 @media only screen and (max-width: 1023px) {
                     gap: 0;
                     font-size: 13px;
                     flex-direction: column;

                 }

             }

             a {
                 color: #fffcd5;



                 @media only screen and (max-width: 1023px) {
                     font-size: 22px;
                 }

                 @media only screen and (max-width: 1023px) {
                     font-size: 22px;
                 }

                 &:hover {
                     color: #c00;
                 }

                
             }
         }

         form {
             display: flex;
             align-items: center;
             justify-content: center;


             input {
                 border: 1px solid #fffcd5;
                 height: 40px;
                 color: #fffcd5;
                 padding: 5px;
                 width: 120px;

                 &::placeholder {
                     color: #fffcd5;

                 }
             }

             button {
                 border: 1px solid #fffcd5;
                 border-radius: 0;
                 background: transparent;
                 height: 40px;
                 padding: 5px;

             }
         }
     }

     &.isMinus {
         header {
             nav {
                 a {
                     font-size: 28px;
                 }
             }
         }
     }

     footer {
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         bottom: 30px;
         width: 100%;
         left: 0;
         z-index: 9;



         a {
             font-family: 'Imbue 24pt';
             font-weight: bold;
             font-style: normal;
             font-size: 24px;
             border: 1px solid #fffcd5;
             color: #fffcd5;
             padding: 5px 20px;

             @media only screen and (max-width: 1023px) {
                 display: none;
             }

             &:hover {
                 background-color: #fffcd5;
                 color: #000;
             }
         }
     }


     .title {

         height: 90px;
         position: absolute;
         top: 90px;
         left: 50%;
         transform: translateX(-50%);
         z-index: 9;

         svg {
             width: 100%;
             height: 100%;

         }

     }

     .verticeSelected {
         @media only screen and (max-width: 1023px) {
             height: 100dvh;
             overflow: hidden;
         }
     }

     .vertices {
         position: absolute;
         top: 50%;
         left: 0;
         transform: translate(-50%, -50%);
         transform-origin: center;
         object-fit: contain;
         z-index: 2;

         @media only screen and (max-width: 1023px) {
             left: -200px;
             transform: translate(-50%, -50%);
             width: auto;
             height: 170dvh;
         }
     }

     .rueda {
         position: absolute;
         pointer-events: none;
         top: 50%;
         left: 0;
         transform: translate(-50%, -50%);
         transform-origin: center;
         object-fit: contain;
         z-index: 3;

         @media only screen and (max-width: 1023px) {
             left: -200px;
             transform: translate(-50%, -50%);
             width: auto;
             height: 170dvh;
         }
     }

     .madera {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         pointer-events: none;
         left: -300px;
         width: 100vw;
         height: 100vw;
         object-fit: contain;
         z-index: 0;
         background: #1a1411;
         border-radius: 50%;


     }

     .triangle {
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         z-index: 4;
         width: 240px;

         @media only screen and (max-width: 1023px) {
             display: none;
         }
     }

     .ruleta-container {
         position: relative;
         width: 100vw;
         height: 100dvh;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;
     }

     .ruleta {
         position: absolute;
         width: 800px;
         height: 800px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         transform: rotate(0deg);
         transition: transform .6s cubic-bezier(0.83, 0, 0.17, 1);
         left: -320px;

     }

     .tarjeta {
         position: absolute;

         transform: rotate(calc(45deg* var(--i))) translate(160%);
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 18px;
         text-align: center;
         box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
         transition: transform .5s ease;
         width: 690px;

         &::after {
             content: '';
             width: 100%;
             height: 100%;
             position: absolute;
             top: 0;
             left: 0;
             box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
             z-index: 3;
         }


     }

     .tarjeta img {
         width: 100%;
         border-radius: 10px;
         overflow: hidden;
         height: 100%;
         object-fit: contain;
         transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
     }



     /* Media Query para pantallas pequeñas (móviles) */
     @media (max-width: 1023px) {
         .ruleta {
             position: absolute;
             width: 100vw;
             height: 100vw;
             border-radius: 50%;
             display: flex;
             justify-content: center;
             align-items: center;
             transform: rotate(0deg);
             transition: transform .6s cubic-bezier(0.83, 0, 0.17, 1);
             left: -100vw;
         }

         .tarjeta {
             width: 270px;
             height: 160px;
         }
     }

     .botonera {
         position: absolute;
         bottom: 10%;
         display: flex;
         justify-content: space-between;
         padding: 0 20px;
         flex-direction: column;
         z-index: 9;
         right: 0;

         @media only screen and (max-width: 1023px) {
             display: none;
             gap: 10px;
             align-items: flex-end;
             bottom: 15%;
         }

         a {
             margin-bottom: 30px;
             transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

             @media only screen and (max-width: 1023px) {
                 margin: 0;

                 img {
                     width: 50px;
                 }
             }

             &:last-of-type {
                 margin: 0;
             }

             &:hover {
                 transform: scale(1.1);
             }
         }

     }

     button {
         background-color: #555;
         color: white;
         border: none;
         padding: 10px;
         cursor: pointer;
         border-radius: 5px;
         font-size: 16px;
     }

     button:hover {
         background-color: #777;
     }



 }