.lanovela {
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

    .toolslanovela {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 10;
        opacity: 0;
        padding: 0 20px;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &.show {
            opacity: 1;
        }

        #openLinks {
            position: relative;
            z-index: 2;
            color: #333;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        .linkslanovela {
            background-color: #FFF;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            height: 100vh;
            position: absolute;
            top: 0;
            left: -100vw;

            &.active {
                left: 0;
            }

            a {
                font-size: 28px;
                font-weight: bold;
                font-family: "Imbue", serif;
                color: #333;

                &:hover {
                    color: #f00 !important;
                }
            }
        }

    }

    .bars {
        background-color: #fffcd5;
    }

    header {
        height: auto;

        .container {
            align-items: flex-start;

            @media only screen and (max-width: 1023px) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
            }
        }

        a {
            color: #FFF;

            input {
                color: #FFF;

                &::placeholder {
                    color: #FFF;

                }
            }
        }
    }

    .brujula {
        background-color: #e6e6e6;

    }

    .controls {
        background-image: url(../img/metal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 20px 20px;

        nav {
            a {
                color: #FFF;
                letter-spacing: .1rem;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .marquee {
        color: #FFF;
    }

    .bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1360px;
        margin: 0 auto;

        @media only screen and (max-width: 1023px) {
            align-items: center;
            flex-direction: column-reverse;
            gap: 30px;
        }

        nav {

            @media only screen and (max-width: 1023px) {

                flex-direction: column;
                position: static;
                background: transparent;
                height: auto;
                width: auto;
                gap: 10px;

                a {
                    font-size: 14px;
                }
            }
        }


        .center {
            position: relative;

            nav {
                bottom: 0;
                width: max-content;
            }

            img {
                display: block;
                margin: 0 auto 30px;

                @media only screen and (max-width: 1023px) {
                    width: 50%;
                    height: 50px;
                    object-fit: contain;
                    margin: 0 auto;
                }
            }
        }
    }

    /* Estilos básicos */
    .text-controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button {
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-weight: bold;
        font-style: normal;
        border-radius: 5px;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &:hover {
            transform: scale(1.1)
        }
    }

    button .small-text {
        font-size: 10px;
    }

    button .large-text {
        font-size: 16px;
    }

    .fontsize {
        display: flex;
        gap: 3px;
    }

    /* Botones de control */
    .font-size-btn {
        background-color: #fffbdc;
        border: 1px solid #ccc;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;

        svg {
            width: 28px;
            height: 28px;
        }
    }

    .theme-btn {
        border: none;
        color: white;
        width: 25px;
        height: 25px;
    }

    .theme-btn[data-bg="white"] {
        background-color: white;
        color: black;
    }

    .theme-btn[data-bg="#d0d0d0"] {
        background-color: #d0d0d0;
        color: black;
    }

    .theme-btn[data-bg="#646363"] {
        background-color: #646363;
        color: #FFF;
    }

    .theme-btn[data-bg="#000"] {
        background-color: #000;
        color: #FFF;
    }

    .download {
        display: flex;
        gap: 3px;
    }

    .download-btn {
        background-color: beige;
        border: 1px solid #ccc;
        padding: 8px 20px;
        border-radius: 5px;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-family: "Merriweather", serif;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;

        &:hover {
            transform: scale(1.1)
        }
    }

    /* Estilos del contenido que se va a modificar */
    .content {
        padding: 2.5% 30%;


        @media only screen and (max-width: 1440px) {
            padding: 2.5% 15%;
        }

        @media only screen and (max-width: 600px) {

            padding: 10% 10%;
        }

        .color01,
        .color02,
        .color03,
        .color04,
        .color05,
        .color06,
        .color07 {
            cursor: pointer;
        }

        .color01 {
            background-color: #c7c4e2;
        }

        .color02 {
            background-color: #c7eafb;
        }

        .color03 {
            background-color: #cce7d3;
        }

        .color04 {
            background-color: #e7efc1;
        }

        .color05 {
            background-color: #fff9b8;
        }

        .color06 {
            background-color: #ffdaa2;
        }

        .color07 {
            background-color: #fcd3c1;
        }

        p.Cuerpo_Texto_01 {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 200;
            line-height: 2.2;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: justify;
            text-align-last: left;
            text-decoration: none;
            text-indent: 30px;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_01_Centro {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 200;
            line-height: 2.2;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 15px;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_01_Derecha {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 200;
            line-height: 2.2;
            margin-bottom: 14px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 6px;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: right;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_02 {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 200;
            line-height: 2.2;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: justify;
            text-align-last: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_03 {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 200;
            line-height: 2.2;
            margin-bottom: 9px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: justify;
            text-align-last: left;
            text-decoration: none;
            text-indent: 30px;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_Divisor {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.2;
            margin-bottom: 16px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 16px;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.Cuerpo_Texto_Verso {
            color: #333333;
            font-family: Merriweather, serif;
            font-size: 16px;
            font-style: italic;
            font-variant: normal;
            font-weight: normal;
            line-height: 2.2;
            margin-bottom: 24px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 24px;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.Titulo_00 {
            color: #333333;
            font-family: "Imbue", serif;
            font-size: 40px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.Titulo_01 {
            -epub-hyphens: none;
            color: #333333;
            font-family: "Imbue", serif;
            font-size: 28px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.4;
            margin-bottom: 6px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 100px;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            text-transform: uppercase;
            widows: 1;
        }

        p.Titulo_Nombre_Autor {
            color: #333333;
            font-family: "Imbue", serif;
            font-size: 20px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1.2;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            orphans: 1;
            page-break-after: auto;
            page-break-before: auto;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        span.Bold {
            font-style: normal;
            font-weight: bold;
        }

        span.Italica {
            font-style: italic;
            font-weight: normal;
        }

        p.ParaOverride-1 {
            margin-top: 7px;
        }

        p.ParaOverride-2 {
            margin-bottom: 7px;
        }

        p.ParaOverride-3 {
            margin-bottom: 6px;
            margin-top: 6px;
            text-indent: 0px;
        }

        div._idGenObjectStyleOverride-1 {
            border-width: 0px;
            padding: 0;
        }

        @media only screen and (max-width: 600px) {

            p.Cuerpo_Texto_01,
            p.Cuerpo_Texto_02,
            p.Cuerpo_Texto_03 {
                text-align: left;
            }
        }

    }


}