.vertice {
    background:
        url(../img/texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 80px;

    .brujula {
        position: absolute;
        top: -150px;
        right: 0;
    }


    header {
        height: 140px;

        .container {
            justify-content: flex-end;
        }
    }

    nav.menu {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (max-width: 1023px) {
            transform: none;
            left: -100vw;
            top: 0;

            &.active {
                left: 0;
            }
        }
    }

    main {
        z-index: 2;
        position: relative;
    }

    .intro {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        @media only screen and (max-width: 1023px) {
            flex-direction: column;
        }

        .subtitle {
            position: absolute;
            top: -60px;
            left: 0;
            padding: 0 20px;
            width: max-content;

            @media only screen and (max-width: 1023px) {
                position: static;
            }

            h2 {
                font-family: 'Imbue 24pt';
                font-weight: bold;
                font-style: normal;
                font-display: swap;
                font-size: 16px;
                color: #665343;
                line-height: 22px;

                @media only screen and (max-width: 1280px) {
                    position: static;
                    font-size: 22px;
                    line-height: 29px;
                }

                &:nth-child(2) {
                    color: #cc0000;

                }

                &::after {
                    content: '';
                    color: #665343;
                    display: block;
                    border-bottom: 1px dashed #665343;
                    width: 100%;
                    margin: 2px 0;
                }

                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }
            }
        }

        h3,
        h3 p,
        &>p {
            max-width: 720px;

            width: 100%;
            margin: 0 auto 30px;
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            color: #665343;
            padding: 0 20px;



            &.hideText {
                max-height: calc(1.5em * 8);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
                /* Limitar a 8 líneas */
                overflow: hidden;
                text-overflow: ellipsis;
                /* Añadir puntos suspensivos (...) */
                /* Ajusta según el alto de línea */
                line-height: 1.5em;
                /* Ajusta la altura de la línea */
            }


            @media only screen and (max-width: 1023px) {
                font-size: 14px;

            }
        }

        button {
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            color: #665343;
            text-decoration: underline;
            padding: 0 20px;
        }

        small {
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: #cc0000;
            display: block;
            text-align: center;
            text-transform: uppercase;
            margin: 44px auto;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
        max-width: 1200px;
        align-items: center;
        margin: 0 auto 50px;
        padding: 0 20px;
    }

    .grid-item {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        height: 100%;

        @media only screen and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
        }

        img {
            width: 100%;
            align-self: flex-end;
        }

        &:hover {
            p {
                color: #cc0000;

                &::before {
                    color: #cc0000;

                }
            }
        }


        &:nth-of-type(2n) {


            @media only screen and (max-width: 1023px) {
                flex-direction: column-reverse;
                padding: 0;

            }

            img {
                align-self: flex-start;
                order: 2;

                @media only screen and (max-width: 1023px) {
                    margin: 0 0 20px;
                    grid-row: 1;
                }
            }
        }
    }



    .footerText {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        color: #665343;
        padding: 0 20px;
    }

    .grid-item p {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        line-height: 18px;
        color: #665343;
        position: relative;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* Ajusta el número de líneas */

        &::before {
            content: '***';
            display: block;
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            margin-bottom: 20px;
            color: #665343;
        }
    }

    .red-text {
        color: #cc0000;
    }
}